table {
	border: 1px solidsilver;
}

/* Hover effect */
td:hover {
	background-color: yellow;
	color: black;
}

/* Headers */
th {
	background-color: black;
	color: cornsilk;
}

/* Table Data */
td {
	background-color: darkgreen;
	color: white;
}
